@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
html, body, #root { height: 100%; }

@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }
  body {
    @apply bg-nature-beige text-slate-800 antialiased dark:bg-slate-900 dark:text-slate-100;
  }
}
